---
const { page = "top" } = Astro.props;
import "../sass/styles.scss";
import Header from "../common/Header.astro";
import Footer from "../common/Footer.astro";
const script = "assets/js/script.js";
const scriptVue = "assets/js/scriptVue.js";
const scriptGsap = "assets/js/scriptGsap.js";
import { ViewTransitions } from "astro:transitions";
const { path } = Astro.props;
const transition = false;
const jQuery = false;
const vue = false;
const gsap = false;
const { title, desc } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta name="robots" content="noindex" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <!-- meta情報 -->
    <title>{title}</title>
    <meta name="description" content={desc} />
    <meta name="keywords" content="" />
    <!-- ogp -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:card" content="summary" />
    <!-- ファビコン -->
    <link rel="icon" href="./favicon.svg" />
    <!-- フォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500&display=swap" rel="stylesheet">

    <!-- JavaScript -->
    {jQuery && <script  src="https://code.jquery.com/jquery-3.6.0.js" />}
    {vue && <script  src="https://unpkg.com/vue@3/dist/vue.global.js" />}
    {gsap && <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script> }
    {gsap && <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script> }
    {gsap && <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"></script> }
    {gsap && <script defer src={path + scriptGsap}></script> }
    {vue && <script defer src={path + script}></script> }
    <script defer src={path + script}></script>
    {transition &&
      <!-- AstroViewTransitions // https://docs.astro.build/ja/guides/view-transitions/ -->
      <ViewTransitions /> 
    }
  </head>
  <body>
    <Header page={page} path={path} />
    <main class="main">
      <slot />
    </main>
    <Footer page={page} path={path} />
  </body>
</html>
